#module-ovribanking-payment #center_column {
  width: 757px;
}

p.payment_module a.ovribanking-logo-link {
  background-color: #fbfbfb;
}

p.payment_module a.ovribanking-logo-link:after {
  display: block;
  content: "\f054";
  position: absolute;
  right: 15px;
  margin-top: -11px;
  top: 50%;
  font-family: "FontAwesome";
  font-size: 25px;
  height: 22px;
  width: 14px;
  color: #777;
}

p.payment_module a.ovribanking-logo-link:hover {
  background-color: #C4F0B5;
}

.ovribanking_table {
  font-size: 16px;
  color: #000000;
}

.ovribanking_td {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.ovribanking_tdlight {
  font-size: 16px;
  color: #000000;
}

.ovribanking_confirmp {
  font-size: 16px;
  color: #000000;
}

.ovribanking_saveorder {
  font-size: 25px;
  font-weight: bold;
  color: #166C01;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  border-color: #166C01;
}

.additional-information {

  margin-left: 0px !important;

}